player-connection-mode=Listen
player-connection-guid=2656318531
player-connection-debug=0
player-connection-project-name=RagdollTrainer
player-connection-ip=192.168.1.4
gfx-enable-gfx-jobs=1
gfx-threading-mode=6
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=147b9627a41b4b0a86c1a329e7c140b4
