player-connection-mode=Listen
player-connection-guid=2668377531
player-connection-debug=0
player-connection-project-name=RagdollTrainer
player-connection-ip=192.168.1.4
gfx-enable-gfx-jobs=1
gfx-threading-mode=6
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=739391774b8547daa68f46cd7b99bdce
