player-connection-mode=Listen
player-connection-guid=3580206903
player-connection-debug=0
player-connection-project-name=RagdollTrainer
player-connection-ip=192.168.1.4
gfx-enable-gfx-jobs=1
gfx-threading-mode=6
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=6eb5ccadca27404cb66c2c49833b9d35
